* {
    box-sizing: border-box;
}

body {
    line-height: 120%;

}

#add-task-content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 96px);
    max-width: 1920px;
    box-sizing: border-box;
}

#add-task-main {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.add_task_overlay {
    width: 450px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    border-radius:  30px 0 0 30px;
    color: #42526e;
}

#title-add-task, #description-add-task, #dateInput-add-task,.radio-btn,#assigned-to,#category,#shell-subtask,#subtask {
    cursor: pointer; 
}


.addTask_content {
    max-height: 670px; 
    overflow-y: auto;
}

.addTask_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

label{
    height: 23px;
    font-size: 19px;
    font-weight: 700;
}

label span{
    color: #42526e;  
}

.add_task_overlay button{
    display: flex;
    align-items: end;
    justify-content: end;
}

select{
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    height: 48px;
    background: url(../assets/icons/arrow_drop_down.svg) no-repeat center right 16px;
}

select:focus{
    border-bottom: 1px solid var(--primaryColor);
    outline: none;
}

.header_x {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.header_x:hover {
    background-color: #d2e2ff;
    cursor: pointer;
    border-radius: 50%;
}

.header_x img {
    width: 25px;
    height: 25px;
}

.header_headline{
    padding-bottom: 50px;
    padding-top: 20px;
}

.slide_in {
    transform: translateX(100%);
    opacity: 0;
    animation: slideRight 0.1s ease-in forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.assigned, .category, .subtask{
    padding-top: 30px;
}

.button_div{
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

#add-task-create-btn:hover{
    cursor: pointer;
    background-color: #0038ff;
}

form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 96px;
    width: 440px;
    padding: 64px 24px 24px;
    gap: 4px;
    overflow: auto;
    height: 928px;
}

.validation-add-task-form {
    height: 16px;
}

#form-header>label,
form>label,
legend {
    height: 23px;
    font-size: 19px;
    font-weight: 700;
}

.btn{
    cursor: pointer;
}

#subtask-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#subtask-add-icon {
    width: 15px;
    height: 15px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-check-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-delete-icon {
    width: 20px;
    height: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.subtask_item{
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    padding: 5px 10px;
    list-style: none;
    padding-bottom: 5px;
    position: relative;  
    transition: background-color 0.3s ease;  
}

.subtask_item::before {
    content: "•"; 
    font-size: 20px; 
    margin-right: 10px;
}

.subtask_item:hover {
    background-color: #d2e2ff;
    cursor: pointer;
    border-radius: 10px;
}

.subtask_item:hover .subtask_actions {
    opacity: 1;  
}


.subtask_text {
    flex-grow: 1;  
}

.subtask_actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    padding-right: 15px;
    position: absolute; 
    right: 0;
    opacity: 0;  
    transition: opacity 0.3s ease;  
}

.subtask_actions img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.subtask_actions img:hover {
    opacity: 0.8;
}


#form-header>input,
form>input,
#shell-subtask,
#shell-date,
form>select {
    padding:12px 16px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

#form-header {
    display: flex;
    flex-direction: column;
    height: 361px;
    gap: 12px;
}

#title-add-task {
    height: 38px;
    font-size: 32px !important;
}

#form-header>input:focus,
form>input:focus,
#shell-subtask:focus,
#shell-date:focus,
form>select:focus {
    border-bottom: 1px solid var(--primaryColor);
    outline: none;
}

::placeholder {
    color: #D1D1D1;
}

#subtask {
    border: none;
    font-size: 19px;
}

#subtask:focus {
    outline: none;
}

#date-input-add-task {
    border: none;
}

#date-input-add-task:focus {
    outline: none;
}

#shell-subtask>button {
    border: none;
    background-color: white;
}

form>select {
    height: 48px;
    background: url("../assets/icons/arrow_drop_down.svg") no-repeat center right 16px;
}

.open {
    background: url("../assets/icons/arrow_drop_down_close.svg")no-repeat center right 16px;
}

label>span {
    font-weight: 400;
}

textarea {
    resize: none;
    height: 103px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #D1D1D1;
    outline: none;
    padding-top: 18px;
    padding-left: 16px;
    font-size: 19px;
}

textarea:focus {
    border: 1px solid var(--primaryColor);
}

#added-subtasks {
    min-height: 48px;
    padding-top: 10px;
    padding-inline-start: 0;
}

#shell-radio-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

#shell-radio-area {
    height: 82px;
    flex-direction: column;
    display: flex;
    gap: 8px;

}

#shell-radio-btn>label>input~.unchecked-priority {
    display: flex;
    width: 20px;
    height: 15px;
}

#shell-radio-btn>label>input~.checked-priority {
    display: none;
    width: 20px;
    height: 15px;
}

#shell-radio-btn>label>input:checked~.unchecked-priority {
    display: none;
}

#shell-radio-btn>label>input:checked~.checked-priority {
    display: flex;

}

input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.radio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 136px;
    padding: 18px 10px;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    background-color: var(--secondaryColor);
    font-size: 19px;
    box-sizing: border-box;
}

/* img move have to be corrected */
.radio-btn img {
    position: relative;
    z-index: 1;
}

#add-task-urgent:hover {
    border-bottom: 2px solid var(--urgentColor);
}

#add-task-medium:hover {
    border-bottom: 2px solid var(--mediumColor);
}

#add-task-low:hover {
    border-bottom: 2px solid var(--lowColor);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("/assets/icons/event.png") no-repeat center;
    position: absolute;
    cursor: pointer;
    right: 40px;
    display: block;
}

/* #dateInput-add-task {
    visibility: ;
} */

/* input[type="date"]:invalid::-webkit-datetime-edit-text {
    content: "dd/mm/yyyy";
  } */

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: #647188;
    font-style: italic;
}

#add-task-btns {
    display: flex;
    padding: 16px 10px;
    max-width: 335px;
    height: 61px;
    position: absolute;
    right: 0;
    justify-content: space-between;
    gap: 25px;
    right: 39px;
    bottom: 66px;
}

#clear-form-btn {
    width: 136px;
    color: #647188;
    background-color: var(--secondaryColor);
    border: 1px solid #647188;
    border-radius: 10px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 61px;
}

#add-task-create-btn {
    width: 174px;
    background-color: var(--primaryColor);
    font-size: 23px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: var(--secondaryColor);
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-title {
    height: 28px;
}

.addedSubtask {
    font-size: 16px;
}