* {
    box-sizing: border-box;
}

.add-task-content {
    display: flex;
    margin: 0;
    height: calc(100vh - 96px);
    max-width: 1920px;
    box-sizing: border-box;
}

.content-wrapper {
    max-width: 1920px;
    margin: 0;
    position: relative;
}

.bg-white {
    background-color: white !important;
    padding: 0 !important;
}

.title-add-task,
.description-add-task,
#dateInput-add-task,
.radio-btn,
.assigned-to,
.category,
.subtask-area,
.subtask,
.btn {
    cursor: pointer;
}

label,
legend {
    height: 23px;
    font-size: 19px;
    font-weight: 700;
    color: #42526e;
}

.add_task_overlay button {
    display: flex;
    align-items: end;
    justify-content: end;
}

/* select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    height: 48px;
    background: url(../assets/icons/arrow_drop_down.svg) no-repeat center right 16px;
} */

.wrapper-select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    align-items: center;
    font-size: 19px;
    height: 48px;
}

.wrapper-subtasks,
.added-subtasks {
    gap: 8px;
    display: flex;
    flex-direction: column;
}



.category-add-task {
    width: 100%;
}

.option-category {
    width: 100%;
    padding: 12px 16px;
    border: none;
    align-items: center;
    font-size: 19px;
    height: 47px;
}

.icon-for-subtask-work {
    gap: 4px;
    display: flex;
}

.addedSubtask:hover .subtask-hover-icons {
    display: flex !important;
}

.addedSubtask:hover {
    background-color: #E3EEFF;
}

.disable-hover:hover .subtask-hover-icons {
    display: none !important;
}

.disable-hover:hover {
    background-color: #FFFFFF !important;
}

li[contenteditable="true"] {
    outline: none;
}

.separator {
    height: 24px;
    width: 1px;
    background-color: #A8A8A8;
}

.icon-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-form:hover {
    background-color: #D9D9D9;
    border-radius: 50%;
}

.button_div {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.assigned-to-input {
    width: 100%;
    border: none;
    align-items: center;
    font-size: 19px;
    height: 48px;
    outline: none;
    height: 100%;
}

.assigned-to-input::placeholder{
    color: #000;
}

.assigned-contacts>label {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    padding: 7px 16px;
    color: #000;
}

.assigned-contacts {
    border-radius: 10px;
    height: 56px;
    gap: 16px;

}

.icon-name-template {
    align-items: center;
    gap: 16px;
}

.assigned-contacts:hover {
    background-color: #D2E3FF;
}

.assigned-contacts:has(input:checked) {
    background-color: #4589FF;
}

.assigned-contacts label:has(input:checked) {
    color: var(--secondaryColor)
}

.assigned-contacts:has(input:checked):hover {
    background-color: #005DFF;
}
/*background-color placeholder*/
.name-icon {
    color: white;
    height: 42px;
    min-width: 42px;
    font-size: 12px;
    background-color: orange;
    border-radius: 50%;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

input[type="checkbox"] {
    appearance: none;
    background: url(../assets/icons/unchecked.png) no-repeat center;
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    background-image: url(../assets/icons/Check_button_white.png)
}

.add-task-create-btn:enabled:hover {
    cursor: pointer;
    background-color: #0038ff;
}

.activCreatBtn{
    background-color: #FFFFFF !important;
    color: var(--primaryColor) !important;
}

.btn-icon-check{
    background: url(../assets/icons/check.svg) no-repeat center ;
}

.checktIcon{
    background: url(../assets/icons/check_blue.svg)no-repeat center !important;
}

.icon-24{
    height: 24px;
    width: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 488px;
    padding: 64px 24px 0px;
    gap: 24px;
    height: 928px;
}

.form-scroll-container {
    position: fixed;
    top: 96px;
    height: calc(100vh - 96px);
    width: 488px;
    overflow-y: auto;
    overflow-x: hidden;
}

.assigned-to-scroll {
    overflow-y: auto;
    max-height: 288px;
    padding-right: 24px;
    display: flex;
    gap: 1px;
}

.validation-add-task-form {
    height: 16px;
    font-size: 13px;
    font-family: inter;
}

#subtask-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#subtask-add-icon {
    width: 15px;
    height: 15px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-check-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-delete-icon {
    width: 20px;
    height: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.added_subtask {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    padding: 5px 10px;
    list-style: none;
    padding-bottom: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.added_subtask::before {
    content: "•";
    font-size: 20px;
    margin-right: 10px;
}

.added_subtask:hover {
    background-color: #d2e2ff;
    cursor: pointer;
    border-radius: 10px;
}

.added_subtask:hover .subtask_actions {
    opacity: 1;
}


.subtask_text {
    flex-grow: 1;
}

.subtask_actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    padding-right: 15px;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subtask_actions img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#subtask-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#subtask-add-icon {
    width: 15px;
    height: 15px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-check-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

#subtask-delete-icon {
    width: 20px;
    height: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.added_subtask {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    padding: 5px 10px;
    list-style: none;
    padding-bottom: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.added_subtask::before {
    content: "•";
    font-size: 20px;
    margin-right: 10px;
}

.added_subtask:hover {
    background-color: #d2e2ff;
    cursor: pointer;
    border-radius: 10px;
}

.added_subtask:hover .subtask_actions {
    opacity: 1;
}

.subtask_text {
    flex-grow: 1;
}

.subtask_actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    padding-right: 15px;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subtask_actions img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.subtask_actions img:hover {
    opacity: 0.8;
}

#date-input-add-task,
.title-wrapper>input,
.form-header>input,
form>input,
.subtask-area {
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    width: 100%;
    outline: none;
}

.custom-date-input{
    align-items: center;
}

#nativ-date-input{
    opacity: 0;
    position: absolute;
    right: 200px;
}

.title-wrapper {
    height: 84px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    flex-direction: column;
    height: 361px;
    gap: 12px;
}

.title-add-task {
    /* height: 38px; */
    font-size: 32px !important;
}

.date-wrapper {
    gap: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#date-input-add-task:focus-within,
.subtask-area:focus-within,
.subtask-area:hover,
.title-add-task:focus,
.wrapper-select:hover,
.wrapper-select:focus-within {
    border-bottom: 1px solid var(--primaryColor);
}

::placeholder {
    color: #D1D1D1;
}

#custom-date-input>label{
    position: absolute;
    right: 16px;
}


.subtask {
    border: none;
    font-size: 19px;
    width: 100%;
}

.subtask:focus {
    outline: none;
}

.added-subtasks {
    height: 32px;
    justify-content: space-between;
}

.date-input-add-task {
    border: none;
}

.date-input-add-task:focus {
    outline: none;
}

.date-display{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Damit der Klick zum Input durchgeht */
    z-index: 2;
    color: #000;
}


form>select {
    height: 48px;
    background: url("../assets/icons/arrow_drop_down.svg") no-repeat center right 16px;
}

label>span {
    font-weight: 400;
}

textarea {
    resize: none;
    height: 103px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #D1D1D1;
    outline: none;
    padding-top: 18px;
    padding-left: 16px;
    font-size: 19px;
    width: 100%;
}

.description-wrapper {
    gap: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.resize{
    cursor: ns-resize;
    overflow: auto;
    position: absolute;
    left:calc(100% - 30px);
    top:calc(100% - 48px );
}

textarea:focus {
    border: 1px solid var(--primaryColor);
}

#added-subtasks {
    min-height: 48px;
    padding-top: 10px;
    padding-inline-start: 0;
}

.shell-radio-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.shell-radio-area {
    height: 82px;
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.shell-radio-btn>label>input~.unchecked-priority {
    display: flex;
    width: 20px;
    height: 15px;
}

.shell-radio-btn>label>input~.checked-priority {
    display: none;
    width: 20px;
    height: 15px;
}

.shell-radio-btn>label>input:checked~.unchecked-priority {
    display: none;
}

.shell-radio-btn>label>input:checked~.checked-priority {
    display: flex;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.radio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 136px;
    padding: 18px 10px;
    border-radius: 10px;
    gap: 10px;
    outline: 1px solid #D1D1D1;
    background-color: var(--secondaryColor);
    font-size: 19px;
    box-sizing: border-box;
}

.add-task-urgent,
.add-task-medium,
.add-task-low{
    border-bottom: 2px solid transparent;
}

.add-task-urgent:hover {
    border-bottom: 2px solid var(--urgentColor);
}

.add-task-medium:hover {
    border-bottom: 2px solid var(--mediumColor);
}

.add-task-low:hover {
    border-bottom: 2px solid var(--lowColor);
}

.date-picker-icon{
        position: relative;
        cursor: pointer;
        object-fit:contain
}

.date-input-add-task{
    outline: none;
    border: none;
    width: 100%;
    font-size: 19px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: #647188;
    font-style: italic;
}

.add-task-btns {
    display: flex;
    padding: 16px 10px;
    max-width: 335px;
    height: 61px;
    position: absolute;
    right: 0;
    justify-content: space-between;
    gap: 25px;
    right: 39px;
    bottom: 66px;
}

.clear-form-btn {
    width: 136px;
    color: #647188;
    background-color: var(--secondaryColor);
    border: 1px solid #647188;
    border-radius: 10px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 61px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clear-form-btn:hover{
    color: #4589FF;
    border: 1px solid #4589FF;
    transition: 100ms ease-in-out;
}
.clear-form-btn:active{
    color:#005DFF ;
    border: 1px solid #005DFF;
}
.btn-icon-shell{
    background: url(../assets/icons/clear.svg) no-repeat center ;
}
.clear-form-btn:hover .btn-icon-shell{
    background: url(../assets/icons/cross_hover.svg) no-repeat center ;
    transition: 100ms ease-in-out;
}
.clear-form-btn:active .btn-icon-shell{
    background: url(../assets/icons/cross_click.svg) no-repeat center ;
}

.add-task-create-btn {
    width: 174px;
    background-color: var(--primaryColor);
    font-size: 23px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: 100ms ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-title {
    height: 28px;
}

.subtask-value {
    max-height: 32px;
    font-size: 16px;
    padding: 6px 16px;
    list-style-position: inside;
    padding: 4px 16px;
}

.placeholder-container {
    height: 48px;
}

.addedSubtask {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 32px;
}

#task-to-board-overlay {
    background-color: transparent;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 23px;
    color: white;
}

#task-to-board-animation{
    background-color: var(--primaryColor);
    width: 326px;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    animation: slideOutBottom 100ms ease-out both ;
}

.icons-subtask{
    gap: 4px;
    display: flex;
}

@keyframes slideOutBottom{
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(0);
    }
}