@keyframes slideUpMessage {
    from {
        bottom: -100px; 
        opacity: 0;
    }
    to {
        bottom: 50%; 
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.add_task_overlay {
    width: 450px;
    height:auto;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 30px 0 0 30px;
    color: #42526e;
}

.header_x {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.header_x:hover {
    background-color: #d2e2ff;
    cursor: pointer;
    border-radius: 50%;
}

.header_x img {
    width: 25px;
    height: 25px;
}

.header_headline {
    padding-bottom: 50px;
    padding-top: 20px;
}

.slide_in {
    transform: translateX(100%);
    opacity: 0;
    animation: slideRight 0.2s ease-in forwards;
}

.addTask_content {
    max-height: 670px;
    overflow-y: auto;
}

.addTask_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}


#task-message {
    background-color:var(--primaryColor); 
    padding: 16px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    animation: slideUpMessage 0.5s ease-out forwards;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px; 
    z-index: 999;

}

#task-message img{
    filter: brightness(0) invert(1);
}

