.select_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #D1D1D1;
    padding-top: 10px;
}

.subtask_area {
    padding:10px 0 10px 10px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.select_contact img:hover,.category img:hover,
#subtask-add-icon:hover,#subtask-delete-icon:hover,
#subtask-check-icon:hover{
    background-color:#d2e2ff;
    border-radius: 10px;
}

.select_contact span,.cat span{
    padding-left:10px;
    padding-bottom:10px;

}

.select_contact:hover, .cat:hover,.subtask_area:hover{
    border-bottom: 1px solid var(--primaryColor);
}

.contact_dropdown {
    display: none; 
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
}

.user-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
}

.user-item:hover {
    background-color:#d2e2ff; 
    border-radius: 8px;
}

.user-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white !important;
    font-weight: bold;
    margin-right: 10px;
}

.user-name {
    flex-grow: 1;
}

.contact_dropdown input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.contact_dropdown input[type="checkbox"] + .checkbox-custom {
    width: 22px;
    height: 18px;
    background-image: url("../assets/icons/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 15px;
    position: relative;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.contact_dropdown input[type="checkbox"]:checked + .checkbox-custom {
    background-image: url("../assets/icons/checked.png");
}

.contact_dropdown .user-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
}

#arrowIconCategory {
    transition: transform 0.2s ease;
}

.subtask_area input{
    font-size: 18px; 
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

#subtask-warning {
    display: none;
    color: red; 
    font-size: 12px;
    height: 50px;
}

#subtask-icons {
    display: flex;
    gap: 10px; 
    align-items: center;
}

#subtask-delete-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#subtask-add-icon{
    padding: 5px;
}

#subtask-check-icon{
    padding: 5px;
}
input:disabled {
    background-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

#added-subtasks{
    padding-inline-start: 0;
}

.added_subtask {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
    margin: 5px 0; 
    border-radius: 5px; 
}

.added_subtask::before {
    content: '\2022';
    font-size: 20px; 
    color: #333; 
    margin-right: 10px;
}

.subtask_text {
    font-size: 16px; 
    flex-grow: 1; 
}

.subtask_actions {
    display: flex; 
    gap: 10px; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.added_subtask:hover{
    background-color: #d2e2ff;
    border-radius: 8px;
}

.added_subtask:hover .subtask_actions {
    opacity: 1; 
}

.subtask_actions img {
    cursor: pointer; 
    transition: transform 0.2s ease; 
}

.subtask_actions img:hover{
    transform: scale(1.1); 
}

.added_subtask.editing {
    border-bottom: 1px solid var(--primaryColor);
    border-radius: 0;
}

.added_subtask.editing::before {
    content: none; 
}

.added_subtask.editing .subtask_actions {
    opacity: 1; 
    
}
.added_subtask.editing:hover {
    background-color: transparent; 
}

.added_subtask.editing .subtask_text {
    border: none; 
    background-color: transparent;
    padding: 4px 0; 
    outline: none; 
}
