.content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 96px);
}

.main_wrapper {
    width: calc(100% - 200px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: hidden;
}

.board_header {
    display: flex;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 70px;
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    height: 40px;
}

.search_container img {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #a8a8a8;
}

.search_container input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
}

.search_container:hover {
    border-color: var(--primaryColor);
    cursor: pointer;
}

.search_container input:hover {
    cursor: pointer;
}

.add_btn {
    margin-left: 40px;
}

.add_btn button {
    padding: 10px 10px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    border-radius: 8px;
}

.add_btn button img {
    margin-left: 10px;
}

.add_btn button span {
    font-size: 18px;
}

.add_btn button:hover {
    cursor: pointer;
    background-color: #0038ff;
    transform: scale(1.1);
}

.board_content {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.toDo, .inProgress, .awaitFeedback, .done {
    width: 300px;
    height: 100%;
}

.toDo_header, .inProgress_header, .awaitFeedback_header, .done_header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toDo_header img:hover, .inProgress_header img:hover, .awaitFeedback_header img:hover, .done_header img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.9);

}

.drag_area {
    height: 550px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 15px;
}

.noTask_msg {
    height: 40px;
    width: 90%;
    background-color: #e7e7e7;
    border: 1px dotted #a8a8a8;
    color: #a8a8a8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 5px;
}

.drag-area-highlight {
    background-color: #e7e7e7;
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

.ticket {
    background-color:var(--secondaryColor);
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    width: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

.ticket :hover{
    cursor: pointer;
}

.ticket_category {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px ; 
}

.ticket_category span {
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--secondaryColor);
}

.ticket_title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #4589ff;
}

.ticket_description{
    padding-left: 20px;
    padding-right: 20px;
    color: #a8a8a8;
}

.ticket_subtasks {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding:20px;
}

.progress_bar {
    width: 50%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #4589ff; 
    transition: width 0.3s ease-in-out;
}

.completed {
    font-weight: bold;
    color: #333;
}

.ticket_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
}


.ticket_users {
    position: relative;  
    width: 100%;  
    height: 50px; 
    white-space: nowrap;  
    overflow: hidden;  
}


.user_icon {
    position: absolute; 
    width: 40px;  
    height: 40px; 
    border-radius: 50%;  
    text-align: center; 
    line-height: 40px; 
    font-size: 18px;  
    font-weight: bold;  
    color: white;   
    border: 2px solid white;
}

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.ticket_overlay {
    position: relative; 
    background-color:var(--secondaryColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 400px; 
    max-width: 90%;
    padding: 20px;
    border: 1px solid #f7f7f7;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.overlay.show {
    display: flex;
    animation: slideUp 0.1s ease-in forwards;
}

.overlay_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category_overlay span{
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--secondaryColor);
}

.x:hover{
    background-color: #d2e2ff;;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.x img {
    height: 25px;
    width: 25px;
}

.title_overlay{
    padding-bottom: 10px;
}

.title_overlay h1 {
    word-break: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.2; 
    margin-bottom: 10px; 
}

.date_overlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:15px;
}

.date_overlay span {
    font-weight: bold;
    color: #42526e ;
}

.priority_overlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    gap:35px;
}

.priority_overlay span {
    font-weight: bold;
    color: #42526e ;
}


.assigned_overlay{
    padding-bottom: 20px;
}

.assigned_overlay th {
    text-align: left; 
    padding-bottom: 10px;
    color: #42526e ;
}

.user_icon_plus_name{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap:15px;
    padding-left: 10px;
}

.user_icon_overlay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    
}

.subtasks span {
    font-weight: bold;
    color: #42526e ;
}

.subtask_item{
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtask_item label {
    padding:5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    font-weight: 400 !important;
}
  
.subtask_item label:hover {
    background-color:  #d2e2ff; 
}

.subtask_item label {
    cursor: default;
}

.subtask_item input[type="checkbox"] {
    cursor: pointer; 
}

.subtask_item input[type="checkbox"] + label::before {
    cursor: pointer; 
}

[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none;     
    appearance: none;         
  }

[type="checkbox"] + label {
    position: absolute;
}

[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
}
  
[type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("../assets/icons/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 15px;
    z-index: 5;
    position: relative;
    background-position: center; 
}
  
[type="checkbox"]:checked+label::before {
    background-image: url("../assets/icons/checked.png");
}

.delete_edit {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
}

.delete_btn, .edit_btn {
    display: flex;
    align-items: center;
    border: none; 
    background-color: var(--secondaryColor);
    cursor: pointer;
    height: 20px; 
    gap: 10px;
}

.delete_btn {
    border-right: 1px solid #ccc; 
    justify-content: right;
    padding-right: 10px
}

.edit_btn {
    border-left: 1px solid #ccc;
    justify-content: left;
    padding-left: 10px;
}

.delete_btn:hover, .edit_btn:hover {
    transform: scale(1.1);
    color:#0038ff;
    font-weight: 600;
}

.delete_btn img:hover, .edit_btn img:hover {
    filter: brightness(0.9);
}