@font-face {
    font-family: Inter;
    src: url("../assets/fonts/inter/interVariableFont.ttf");
    font-weight: 100 900;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    max-width: 1920px;
    height: calc(100vh - 96px);
}

.main_wrapper {
    width: 100%;
    display: flex;
}

.contact_bar {
    overflow: hidden auto;
    padding: 0 0 32px 16px;
    box-shadow: 4px 0 6px 0 #00000014;
    width: 456px;
}

.contacts_list {
    flex: 1;
    padding: 0 24px;
}

.letter-header {
    padding: 17px 36px;
    font-size: 18px;
    background-color: var(--secondaryColor);
}

.border_container {
    padding: 7.5px 0;
    box-sizing: border-box;
}

.seperator {
    border: none;
    height: 1px;
    border-radius: 3px;
    background-color: #d1d1d1;
}

.contact {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    box-sizing: border-box;
    column-gap: 35px;
    cursor: pointer;
}

.contact:hover {
    background-color: var(--menuHoverColor);
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border: 2px solid var(--secondaryColor);
    font-family: Inter, sans-serif;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contact-info .contact-name {
    font-size: 19px;
}

.contact-info .contact-email {
    color: var(--primaryColor);
}

.contact-detail {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    flex: 1;
    padding: 72px 0 0 62px;
}

.contact-info-wrapper {
    width: 0%;
    overflow: hidden;
}

.open {
    width: 100%;
}

.contact-header {
    display: flex;
    align-items: center;
    column-gap: 54px;
}

.circle-wrapper {
    position: relative;
    width: 126px;
    height: 126px;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 50%;
    background: white;
    border: 3px solid white;
    z-index: 1;
}

.inner-circle {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #FF7A00;
    border-radius: 50%;
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.contact-main-info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.contact-actions {
    display: flex;
    column-gap: 16px;
}

.contact-detail-section {
    padding-top: 21px;
    display: flex;
    row-gap: 22px;
    flex-direction: column;
}

.contact-detail-section h3 {
    font-size: 23px;
    font-weight: bold;

}

.contact-field {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.label {
    font-weight: bold;
    margin: 0 0 4px;
}

.email-link {
    color: #005DFF;
    text-decoration: none;
}

.contact-main-info > .contact-name {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 47px;
    line-height: 1.2;
}

.contact.selected {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-color: #0056b3;
}

.contact.selected .contact-email {
    color: var(--secondaryColor);
}


.content-wrapper {
    max-width: 1920px;
    margin: 0;
    position: relative;
}

label,
legend {
    height: 23px;
    font-size: 19px;
    font-weight: 700;
}

label span {
    color: #42526e;
}

.header_headline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 12px;
}

.slide_in {
    transform: translateX(100%);
    opacity: 0;
    animation: slideRight 0.1s ease-in forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.name-icon {
    color: white;
    height: 42px;
    width: 42px;
    font-size: 12px;
    background-color: orange;
    border-radius: 45px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    gap: 12px
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    box-sizing: border-box;
}

::placeholder {
    color: #D1D1D1;
}

label > span {
    font-weight: 400;
}

.placeholder-container {
    height: 48px;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-circle {
    height: 120px;
    width: 120px;
    background-color: #D1D1D1;
    border-radius: 50%;
    font-family: Inter, sans-serif;
    font-size: 47px;
    font-weight: 500;
}

.overlay-profile-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0 32px;
}

.contact-circle > img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.input_container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input_container input {
    width: 100%;
    padding: 12px 45px 12px 21px;
    font-size: 19px;
    border-bottom: 1px solid #D1D1D1;
    max-height: 48px;
}

.input_container input:focus {
    border-color: var(--lightBlue);
}

.input-person {
    background-image: url("../assets/icons/person_gray.svg");
    background-position: right 21px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.input-email {
    background-image: url("../assets/icons/mail_gray.svg");
    background-position: right 21px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.input-call {
    background-image: url("../assets/icons/call_gray.svg");
    background-position: right 21px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.input_container input::placeholder {
    color: #D1D1D1;
}

input {
    border: none;
    outline: none;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    /* max-height: 24px; */
}

input::placeholder {
    color: #D1D1D1;
}

input.error {
    border-bottom: 2px solid rgba(255, 0, 0, 0.534);
}

#error_msg {
    color: rgba(255, 0, 0, 0.534);
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    display: none;
}

.edit-overlay {
    box-shadow: var(--boxShadowNuevo);
    position: fixed;
    top: 0;
    left: 0;
    width: 584px;
    height: 100vh;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 0 30px 30px 30px;
}

.edit-overlay.active {
    transform: translateX(0);
}

.overlay-header {
    border-radius: 0 30px 0 0;
    background-color: #005DFF;
    color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 108px 46px;
    gap: 12px;
}

.overlay-header-logo {
    height: 66.48px;
    width: auto;
}

.overlay-header-headline {
    font-size: 48px;
}

.overlay-header-row {
    display: flex;
}

.overlay-header-row-right {
    justify-content: right;
    align-items: center;
}

.overlay-header-row-center {
    justify-content: center;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    max-width: 422px;
    margin: 0 auto;
}

.overlay-content-row {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 584px;
    height: 100vh;
    background: white;
    transform: translateX(100%);
    transition: transform 125ms ease-in-out;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.direction-column {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.sub-headline {
    font-size: 27px;
}

.contact-circle img {
    height: 64px;
    width: 64px;
}

.overly-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1000;
    display: none;
}

.overly-add-contact {
    border-radius: 30px 0 30px 30px;
}

.overlay-add-contact-header {
    padding: 91px 46px;
    border-radius: 30px 0 0 0;
}

.overlay-contact-successfully-created {
    box-shadow: 0px 0px 4px 0px #00000026;
    border-radius: 20px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: flex;
    position: fixed;
    padding: 23px 17px;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-5);
    transition: all 125ms ease-in-out;
    z-index: 1000;
    bottom: -50%;
}

.overly-move-up {
    transform: translate(-50%, 50%);
    bottom: 50%;
}


/* TODO: move to navigation */
.active_span:before {
    content: url("/assets/icons/contacts_icon.png");
    background-color: var(--menuHoverColor);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    align-items: center;
    gap: 8px;
}

.active_span {
    display: flex;
    align-items: center;
}

@media(max-width:1200px) {
    .active_span::before {
        background-color: transparent;
        color: #4589FF !important;
        content: url("/assets/icons/contacts_icon_blue.png");
        margin-right: 0;
    }

    .active_span {
        flex-direction: column;
    }
}