.header {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 39px;
    font-size: var(--fontSize-6);
    position: relative;
}

.logo-container {
    height: 56px;
}

.logo-container > img {
    height: 100%;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
}

.help-link {
    margin-left: 26px;
    user-select: none;
}

.help-link > img {
    height: 32px;
    width: 32px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    margin-left: 18px;
    user-select: none;
    cursor: pointer;
}

.icon-container {
    width: 46px;
    height: 46px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #4589FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #005DFF;
}

.profile_menu {
    background-color: lightcoral;
    width: 172px;
    height: 0px;
    position: absolute;
    top: 96px;
    right: 4px;
    text-align: right;
    padding: 0 10px;
    border-radius: 20px 0 20px 20px;
    box-shadow: var(--boxShadowStronger);
    color: #42526e;
    font-size: 19px;
    line-height: 1.2;
    overflow: hidden;
    transition: height 75ms ease-in-out, padding 0.3s ease-in-out;
    z-index: 10;

}

.profile_menu.open {
    height: auto;
    padding: 10px;
    width: 172px;
    box-sizing: border-box;
    background-color: var(--secondaryColor);
}

.profile_menu_list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile_menu_item {
    border-radius: 8px;
}

.profile_menu_item:hover {
    background-color: var(--menuHoverColor);
}

.profile_menu_item > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
}

.