.main_wrapper {
    overflow-y: auto;
    scrollbar-width: none;
}

.help {
    max-width: 1032px;
    margin-left: 72px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 33px;
    color: var(--primaryColor);
}

.help-sect {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.steps {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.steps strong {
    font-size: 19px;
    color: var(--lightBlue);
}

li {
    display: flex;
    column-gap: 35px;
}

.list-number {
    font-size: 33px;
    font-weight: 700;
    color: var(--lightBlue);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.last {
    padding: 24px 0 48px;
    font-size: 33px;
    color: var(--lightBlue);
    font-weight: 700;
}

.marked {
    color: var(--primaryColor);
}

.arrow-left {
    display: flex;
    height: 32px;
    width: 32px;
}

.arrow-left::after {
    content: url("../assets/icons/arrow_left.svg");
    width: 32px;
    height: 32px;
}

.arrow-left:hover::after {
    content: url("../assets/icons/arrow_left_hover.svg");
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 1200px) {
    .content {
        margin-bottom: 76px;
    }

    .help {
        margin-left: 0;
        margin-top: 64px;
    }

}