.content-legal-and-privacy {
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding: 64px 26px 0 88px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 770px;
}

.title-wrapper {
    height: 73px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 33px;
    font-weight: 700;
    color: var(--primaryColor)
}

h3 {
    font-size: 19px;
    font-weight: 700;
    color: var(--lightBlue)
}

.privacy-policy-info,
.legal-notice-info {
    max-width: 1020px;
    display: flex;
    flex-direction: column;
}

.legal-notice-info {
    gap: 24px;
    padding-bottom: 72px;
}

.privacy-policy-info {
    gap: 35px;
}

.privacy-containa {
    gap: 10px;
}

.imprint-wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.span-legal-notice {
    color: var(--primaryColor);
}

.current-page {
    width: 113px;
    height: 35px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--primaryColor);
    color: white !important;
    font-weight: 700;
}

.help-link {
    display: none !important;
}

.icon-wrapper {
    display: none !important;
}


@media(max-width: 900px) {
    .title-wrapper {
        height: 56px;
    }

    h1 {
        font-size: 47px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 19px;
    }

    p {
        font-size: 15px;
    }

    .content-legal-and-privacy {
        padding: 64px 18px 0px;
    }
}

@media(max-width: 700px){
.icon-wrapper {
    display: flex !important;
}
}

@media(max-width: 380px) {
    h1 {
        font-size: 40px;
    }
}