.content-legal-and-privacy {
    width: calc(1440px - 232px);
    overflow: auto;
    scrollbar-width: none;
}

.title-wrapper {
    height: 73px;
    position: relative;
    left: calc(320px - 232px);
    top: calc(168px - 96px);
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 33px;
    font-weight: 700;
    color: var(--primaryColor)
}

h3 {
    font-size: 19px;
    font-weight: 700;
    color: var(--lightBlue)
}

.privacy-policy-info,
.legal-notice-info {
    width: 1032px;
    height: 1028px;
    position: relative;
    left: calc(320px - 232px);
    top: calc(289px - 168px);
    display: flex;
    flex-direction: column;
}

.legal-notice-info{
    gap: 24px;
}

.privacy-policy-info{
    gap: 35px;
}

.privacy-containa{
    gap:10px ;
}

.imprint-wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.info-container{
    width: 986px;
}

.span-legal-notice{
    color:var(--primaryColor) ;
}

.current-page{
    width: 113px;
    height: 35px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--primaryColor);
    color: white !important;
    font-weight: 700;
}
