@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/openSans/OpenSansVariableFont.ttf");
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/openSans/OpenSansItalicVariableFont.ttf");
    font-style: italic;
    font-weight: 300 800;
}

/* *{
    box-sizing: border-box;
} */

:root {
    --fontSize-1: 48px;
    --fontSize-2: 40px;
    --fontSize-3: 33px;
    --fontSize-4: 28px;
    --fontSize-5: 23px;
    --fontSize-6: 19px;
    --fontSizeNormal: 16px;
    --fontSizeLable: 13px;
    --primaryColor: #4589FF;
    --secondaryColor: #FFFFFF;
    --menuHoverColor: #D2E3FF;
    --lightBlue: #005DFF;
    --addTaskClickColor: #091931;
    --menuTextColor: #42526E;
    --secondaryBtnTextColor: #647188;
    --placeholderColor: #d1d1d1;
    --urgentColor: #FF3D00;
    --mediumColor: #FFA800;
    --lowColor: #7AE229;
    --variant1: #6E52FF;
    --variant2: #FFA35E;
    --variant3: #FFE62B;
    --variant4: #00BEE8;
    --variant5: #FF5EB3;
    --variant6: #FFBB2B;
    --variant7: #FF745E;
    --variant8: #C3FF2B;
    --variant9: #FF7A00;
    --variant10: #1FD7C1;
    --variant11: #0038FF;
    --variant12: #FFC701;
    --variant13: #9327FF;
    --variant14: #FC71FF;
    --variant15: #FF4646;
    --boxShadowNuevo: 0px 0px 4px 0px #00000029;
    --boxShadowStronger: 0px 4px 8px 0px #00000033;
}

* {
    margin: 0;
}

.d_flex {
    display: flex;
}

.d_none {
    display: none !important;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.d-f-row {
    flex-direction: row;
}

.d-f-column {
    flex-direction: column;
}

.poiner {
    cursor: pointer;
}

.gap-8 {
    gap: 8px;
}

html {
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    font-size: var(--fontSizeNormal);
}

.font_weight_bold {
    font-weight: bold !important;
}

.avatar-color-1 {
    background-color: #6E52FF;
}

.avatar-color-2 {
    background-color: #FFA35E;
}

.avatar-color-3 {
    background-color: #FFE62B;
}

.avatar-color-4 {
    background-color: #00BEE8;
}

.avatar-color-5 {
    background-color: #FF5EB3;
}

.avatar-color-6 {
    background-color: #FFBB2B;
}

.avatar-color-7 {
    background-color: #FF745E;
}

.avatar-color-8 {
    background-color: #C3FF2B;
}

.avatar-color-9 {
    background-color: #FF7A00;
}

.avatar-color-10 {
    background-color: #1FD7C1;
}

.avatar-color-11 {
    background-color: #0038FF;
}

.avatar-color-12 {
    background-color: #FFC701;
}

.avatar-color-13 {
    background-color: #9327FF;
}

.avatar-color-14 {
    background-color: #FC71FF;
}

.avatar-color-15 {
    background-color: #FF4646;
}